<div class="article-side">
            <dl class="article-menu">
                <dt class="am-t"><a href="#">文章分类列表</a></dt>
                <!-- 系统分类 -->
                <dd class="am-c">
                    <div class="menu-item active">
                        <div class="item-hd"><a href="#">系统分类</a><i class="iconfont icon-down"></i></div>
                            {if condition="$helpCates"}
                            <ul class="item-bd">
                                {volist name="helpCates" id="cate"}
                                <li><a href="{:url('index/Cate/index',array('id'=>$cate['id']))}">{$cate.cate_name} </a></li>
                                {/volist}
                            </ul>
                            {/if}
                    </div>
                </dd>
                <!-- 普通分类 -->
                <dd class="am-c">
                    {volist name="comCates" id="cate"}
                    <div class="menu-item active">
                        <div class="item-hd"><a href="{:url('index/Cate/index',array('id'=>$cate['id']))}">{$cate.cate_name}</a><i class="iconfont icon-down"></i></div>
                        {if condition="$cate['children']"}
                        <ul class="item-bd">
                            {volist name="cate.children" id="childCate"}
                            <li><a href="{:url('index/Cate/index',array('id'=>$childCate['id']))}">{$childCate.cate_name}</a></li>
                            {/volist}
                        </ul>
                        {/if}
                    </div>
                    {/volist}
                </dd>
            </dl>
</div>